# =========================
# Node.js / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
dist/
build/

# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual envs
venv/
env/
.venv/

# =========================
# General
# =========================
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

# =========================
# Environment / Secrets
# =========================
.env
.env.local
.env.*.local

# =========================
# Coverage / Testing
# =========================
coverage/
.coverage
*.cover
*.coverage
*.spec
